<form class="form-inline">
  <div class="form-group mb-2">
    <input type="text" class="form-control" [(ngModel)]="itemCreate.name" name="itemName" placeholder="Item Name">

    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">$</span>
      </div>
      <input type="number" class="form-control text-right" [(ngModel)]="itemCreate.value" name="itemValue">
    </div>
    <select class="form-control">
      <option *ngFor="let category of categories" value="{{ category.id }}">{{category.name}}</option>
    </select>
    <button class="btn btn-primary" (click)="addItem()">Add</button>
  </div>
</form>
